<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Intro to WebRTC</title>
        <link rel="stylesheet" href="styles.css">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>

        <div id="camera-select-wrapper">
            Video: <select id="camera-select">
                <option value="no_camera_selected">please select camera</option>
            </select>
        </div>

        <p><button id="take-profile-pic-button" type="button" autofocus="true">Take a profile picture</button></p>
        <video id="video-tag" autoplay></video>
        <div>
            <label for="my-name">Your name</label>
            <input id="my-name" type="text" />
            <label for="my-message">Message</label>
            <input id="my-message" type="text" />
            <input id="send-message" type="submit" />
            <div id="chat-area" >Message Output:<br></div>
        </div>

        <script>
            var videoArea = document.querySelector("video");
            var videoSelect = document.getElementById('camera-select');
            
            
            (function() {
                if (!navigator.mediaDevices || !navigator.mediaDevices.enumerateDevices) {
                    console.log("enumerateDevices() not supported.");
                    document.getElementById('camera-select-wrapper').style.visibility = 'hidden';
                    return;
                }

                // List cameras and microphones.
                navigator.mediaDevices.enumerateDevices()
                    .then(function(devices) {
                        devices.forEach(function(device) {
                            console.log(device.kind + ": " + device.label + " id = " + device.deviceId);
                            var option = document.createElement('option');
                            option.value = device.deviceId;
                            if (device.kind === 'videoinput') {
                                option.text = device.label || 'camera ' + (videoSelect.length + 1);
                                videoSelect.appendChild(option);
                            }
                        });
                    })
                    .catch(function(err) {
                        console.log(err.name + ": " + err.message);
                    });
            })();

            videoSelect.onchange = startStream;

            // startStream();

            function startStream() {
                navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
                // what about navigator.mediaDevices.getUserMedia and MediaDevices.getUserMedia ?
                
                var videoSource = videoSelect.value;

                if (videoSource === 'no_camera_selected') {
                    console.log('no_camera_selected');
                    return;
                }
                
                var constraints = {audio: true, video: false};

                navigator.getUserMedia(constraints, onSuccess, onError);
            }
            
            function onSuccess(stream) {
                console.log("Success! We have a stream");
                videoArea.src = window.URL.createObjectURL(stream);
                videoArea.play();
            }

            function onError(error) {
                console.log("Error: ", error);
            }

            // chat room
            var myName = document.getElementById('my-name');
            var myMessage = document.getElementById('my-message');
            var sendMessage = document.getElementById('send-message');
            var chatArea = document.getElementById('chat-area');
            var ROOM = "chat";

            io = io.connect();
            io.emit('ready', ROOM);

            io.on('announce', function(data) {
                displayMessage(data.message);
            });

            io.on('message', function(data) {
                displayMessage(data.author + ": " + data.message);
            });

            sendMessage.addEventListener('click', function(e) {
                e.preventDefault();
                io.emit('send', {
                    "author": myName.value,
                    "message": myMessage.value,
                    "room": ROOM
                });
            }, false);

            function displayMessage(message) {
                chatArea.innerHTML = chatArea.innerHTML + "<br>" + message;
            }
        </script>
    </body>
</html>